*~
.DS_Store
projects
eln-cache
auto-save-list
straight/*
transient
rime
recentf
tramp
.cache
private.el
org-roam.db
bookmarks
custom.el
emacs.pdmp
url
.org-id-locations
.emacs.desktop
history
places
.mc-lists.el
persp-confs/*
*.sqlite3
*.sqlite
*.elc
elpa/
.persistent-scratch
tree-sitter/
ispell/
elfeed/
cnfonts/
autosaves
rss/
request/
emms/
librime/
session*
modules/
.env
cache/
data/
state/
/etc/
/var/
org-persist/
.tree-sitter/
undohist/
undo-fu-session/
chirp/
persist/
ghostel/
